
.d-flex{
  display: flex;
   justify-content: center;
}

a{
  color: rgb(28, 45, 138);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mt-16{
  margin-top: 16px;
}
.error{
color: #de3318;
 font-size: 20px;
 margin-bottom: '10px';
}

.kxOTGz{
  fill: #fff !important;
  stroke: #fff !important;
}

.text-white{
  color: #fff !important;
}
.headerBox{
  position: relative;
  width: 100%;
  background-color: white !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footerClass{
  bottom: 0;
  position: fixed;
  width: 100%;
}

.App-header {
  background-color: grey;
  font-size: calc(10px + 2vmin);
  color: white;
    text-align: center;
    height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
